<mat-toolbar fxLayout="row"
             fxLayoutAlign="space-between center"
             color="primary">

  <button mat-icon-button
          (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

	<span>
    Off the Beaten Path
  </span>

  <a *ngIf="user$ | async"
     mat-icon-button
     [routerLink]="['/', 'dashboard']">
    <mat-icon>home</mat-icon>
  </a>

  <a *ngIf="!(user$ | async)"
     mat-icon-button
     routerLink="/">
    <mat-icon>home</mat-icon>
  </a>
</mat-toolbar>
