
<mat-card *ngFor="let checkin of history">
  <mat-card-header>
    <mat-card-title>{{ checkin.geocache.location.lat }}, {{ checkin.geocache.location.lng}}</mat-card-title>
    <mat-card-subtitle>{{ checkin.created_at | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="checkin.image"
         [src]="checkin.image.filename">

    <mat-divider></mat-divider>

    <p>
      {{ checkin.text }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['.', checkin.id]" mat-button>View</a>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="!loading && history.length === 0">
  No results!
</mat-card>
