<mat-card>
  <mat-card-header>
    <mat-card-title>
      Settings and Help
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>

      <h4>Options</h4>

      <mat-slide-toggle
        *ngIf="doConstantUpdates !== null"
        (change)="toggleDoConstantUpdates()"
        [checked]="doConstantUpdates"
        color="primary">
        Update in Background?
      </mat-slide-toggle>
      <p>
        (Note: consumes more battery)
      </p>
    </section>

    <mat-divider></mat-divider>

    <section>

      <h4>Help</h4>

      <p>
        The destination resets every day at midnight EST.
      </p>
      <p>
        We do not store your location data. This project is licensed GPLv3+. This means you have the right to view the
        source code, modify the source code, run your modified source code, and distribute the original code and your
        modifications freely. Check out the <a href="https://github.com/off-the-beaten-path">Github</a> for
        more information.
      </p>
    </section>

    <mat-divider></mat-divider>

    <section>

      <h4>Account</h4>

      <form [formGroup]="changePasswordForm"
            (ngSubmit)="onChangePassword()">
        <h5>
          Change Password
        </h5>

        <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>
          <input matInput
                 formControlName="oldPassword"
                 placeholder="******"
                 type="password">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput
                 formControlName="newPassword"
                 placeholder="******"
                 type="password">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>

        <br>

        <button type="submit"
                mat-stroked-button
                [disabled]="changePasswordForm.invalid">
          Change Password
        </button>
      </form>

      <h5>
        Data Export
      </h5>

      <p>
        Download all of your data as a zip archive. Includes user account, checkins, and images.
      </p>

      <button mat-stroked-button>
        Download Archive
      </button>

      <form [formGroup]="deleteAccountForm"
            (ngSubmit)="onDeleteAccount()">
        <h5>
          Delete Account
        </h5>

        <p>
          Note: this action cannot be undone!
        </p>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput
                 formControlName="password"
                 placeholder="******"
                 type="password">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>

        <br>

        <button type="submit"
                mat-stroked-button
                color="warn"
                [disabled]="deleteAccountForm.invalid">
          Delete Account
        </button>
      </form>
    </section>
  </mat-card-content>
</mat-card>

