<div *ngIf="(checkin$ | async) as checkin; else loader">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <svg width="40" height="40" [identiconHash]="checkin.geocache.location.geohash"></svg>
      </div>
      <mat-card-title>
        #{{ checkin.geocache.location.geohash }}
      </mat-card-title>
      <mat-card-subtitle>{{ checkin.created_at | date }}</mat-card-subtitle>
    </mat-card-header>

    <div style="height: 300px;"
         [hidden]="editing"
         mat-card-image
         leaflet
         [leafletOptions]="leafletOptions"
         [leafletLayers]="leafletLayers"
         (leafletMapReady)="onMapReady($event)">
    </div>

    <app-secure-image *ngIf="null !== checkin.image && !hasDeletedImage"
                      [image]="checkin.image"
                      [allowDelete]="editing"
                      (delete)="onImageDelete()"></app-secure-image>

    <file-pond #myPond
               *ngIf="editing && (null === checkin.image || hasDeletedImage)"
               name="file"
               [options]="pondOptions"></file-pond>

    <mat-card-content *ngIf="!editing">
      <p>
        {{ checkin.text }}
      </p>
    </mat-card-content>

    <mat-card-actions *ngIf="!editing">
      <button mat-button
              (click)="enterEditingMode()">Edit
      </button>
    </mat-card-actions>

    <mat-card-content *ngIf="editing">
      <form [formGroup]="updateForm">
        <mat-form-field style="width: 100%;">
            <textarea formControlName="text"
                      matInput
                      placeholder="Comment"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions *ngIf="editing">
      <button mat-button
              (click)="updateCheckin()">Submit
      </button>
      <button mat-button
              (click)="exitEditingMode()">Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loader>
  <mat-card>
    <mat-progress-bar
      color="primary"
      mode="indeterminate">
    </mat-progress-bar>
  </mat-card>
</ng-template>
