<mat-toolbar>
  <mat-toolbar-row>
    <h2>Menu</h2>
  </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list>

  <h2 matSubheader>Actions</h2>

  <a mat-list-item routerLink="/" style="height: 0;"></a>

  <a mat-list-item
     *ngIf="!(user$ | async)"
     routerLink="/"
     (click)="toggleSidenav.emit()">
    <mat-icon matListIcon>home</mat-icon>
    Home
  </a>

  <a mat-list-item
     *ngIf="!(user$ | async)"
     [routerLink]="['auth', 'login']"
     (click)="toggleSidenav.emit()">
    <mat-icon matListIcon>person</mat-icon>
    Login
  </a>

  <a mat-list-item
     *ngIf="!(user$ | async)"
     [routerLink]="['auth', 'register']"
     (click)="toggleSidenav.emit()">
    <mat-icon matListIcon>person_add</mat-icon>
    Register
  </a>

  <a mat-list-item
     *ngIf="user$ | async"
     [routerLink]="['dashboard']"
     (click)="toggleSidenav.emit()">
    <mat-icon matListIcon>reply</mat-icon>
    Dashboard
  </a>

  <a mat-list-item
     *ngIf="user$ | async"
     [routerLink]="['dashboard', 'play']"
     (click)="toggleSidenav.emit()">
    <mat-icon matListIcon>play_circle_filled</mat-icon>
    Play
  </a>

  <a mat-list-item
     *ngIf="user$ | async"
     [routerLink]="['dashboard', 'history']"
     (click)="toggleSidenav.emit()">
    <mat-icon matListIcon>history</mat-icon>
    History
  </a>

  <a mat-list-item
     *ngIf="user$ | async"
     [routerLink]="['dashboard', 'settings']"
     (click)="toggleSidenav.emit()">
    <mat-icon matListIcon>settings</mat-icon>
    Settings
  </a>

  <a mat-list-item
     *ngIf="user$ | async"
     routerLink="/"
     (click)="logout() && toggleSidenav.emit()">
    <mat-icon matListIcon>reply</mat-icon>
    Logout
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item
     target="_blank"
     href="https://github.com/off-the-beaten-path"
     (click)="toggleSidenav.emit()">
    <mat-icon matListIcon>cake</mat-icon>
    Github
  </a>

</mat-nav-list>
