/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';
@import '~filepond/dist/filepond.min.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';
@import '~leaflet/dist/leaflet.css';

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  min-height: 100vh;
}

.toast-top-center {
  top: 12px;
}

mat-card {
  margin: 1rem;
}
