<div fxLayout="row">
  <div fxFlex="100"
       fxLayout="column"
       fxLayoutAlign="end center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>About the Game</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Welcome to <strong>Off the Beaten Path</strong>. Your mission is
          to boldly go where no one has gone before. You are tasked with trekking to
          a random, nearby location. Once there, record your success with a photo and text, and rejoice
          in a job well done. At the end of the day, review your glorious past successes.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a class="login" routerLink="/auth/login" mat-stroked-button>Login</a>
        <a class="register" routerLink="/auth/register" mat-stroked-button>Register</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
