<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item
         [routerLink]="['.', 'play']">
        <mat-icon matListIcon>play_circle_filled</mat-icon>
        <h4 mat-line>
          Play
        </h4>
      </a>

      <a mat-list-item
         [routerLink]="['.', 'history']">
        <mat-icon matListIcon>history</mat-icon>
        <h4 mat-line>
          History
        </h4>
      </a>

      <a mat-list-item
         [routerLink]="['.', 'settings']">
        <mat-icon matListIcon>settings</mat-icon>
        <h4 mat-line>
          Settings
        </h4>
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Your Stats
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-template #loader>
      <mat-progress-bar color="primary"
                 mode="indeterminate"></mat-progress-bar>
    </ng-template>

    <mat-list *ngIf="(stats$ | async) as stats; else loader">
      <mat-list-item>
        <mat-icon matListIcon>trending_up</mat-icon>
        <h4 mat-line>{{ stats.current_streak }} days</h4>
        <p mat-line>Current Streak</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>stars</mat-icon>
        <h4 mat-line>{{ stats.num_checkins }}</h4>
        <p mat-line># Check Ins</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>timeline</mat-icon>
        <h4 mat-line>{{ stats.longest_streak }} days</h4>
        <p mat-line>Longest Streak</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
