<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item
         [routerLink]="['.', 'play']">
        <mat-icon matListIcon>play_circle_filled</mat-icon>
        <h4 mat-line>
          Play
        </h4>
      </a>

      <a mat-list-item
         [routerLink]="['.', 'history']">
        <mat-icon matListIcon>history</mat-icon>
        <h4 mat-line>
          History
        </h4>
      </a>

      <a mat-list-item
         [routerLink]="['.', 'settings']">
        <mat-icon matListIcon>settings</mat-icon>
        <h4 mat-line>
          Settings
        </h4>
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
