<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item
         [routerLink]="['.', 'play']">
        <mat-icon matListIcon>play_circle_filled</mat-icon>
        Play
      </a>

      <a mat-list-item
         [routerLink]="['.', 'history']">
        <mat-icon matListIcon>history</mat-icon>
        History
      </a>

      <a mat-list-item
         [routerLink]="['.', 'settings']">
        <mat-icon matListIcon>settings</mat-icon>
        Settings
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
